.side-panel{
  background:rgba(0,0,0,.15);
  border: 0;
  bottom: 0;
  min-width: 10%;
  min-height: 100%;
  padding-right: 5%;
  padding-top: 4%;
  position: absolute;
  left: 0;
  z-index: 9999;
  pointer-events: none;
  visibility: hidden;
}
